#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
*tmp
*bak
*.swp
*.db
*.log
build_*

.*
*.o
*.lo
*.la
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
#
# vs 
#
*.ncb

#
# Top-level generic files
#
tags
TAGS
vmlinux*
!vmlinux.lds.S
System.map
Module.symvers
!.gitignore

main/test

#
# Generated include files
#
include/asm
include/asm-*/asm-offsets.h
include/config
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
include/linux/utsrelease.h

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*

*.orig
*.rej

#automake
libtool
ltmain.sh
config*
!configure.in
!configure.ac
aclocal.m4
depcomp
install-sh
Makefile*
!Makefile.am
missing
stamp-h1

autom4te.cache/
autoscan.log
compile

¸´¼þ*
